.register__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    color: #fff;
}

.register__control h2 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
}

.register__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.register__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.register__actions {
    text-align: right;
}