.expeneses {
    padding: 1rem;
    background-color: rgba(31, 31, 31);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
}
.expeneses__controller-p{
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
}