.expense-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.expense-filter__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    /* display: block; */
    color: white;
}

.expense-filter__control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 10rem;
    max-width: 100%;
}