.layout__header-icon {
    display: flex;
    align-items: center;
    font-size: 2.50rem;
  }

  .layout__header {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 4rem;
    border-radius: 12px;
    justify-content: center;
  }
  
  .layout__title {
    font-size: 0.75rem;
    font-weight: bold;
    color: rgba(0,0,0,.55)
  }
  
  .layout__text__tile {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0,0,0,.55)
  }