.cards {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25);
}
.card__color{
    border-radius: 12px;
    background-color: rgb(128, 128, 128)
}
.card__center{
    justify-content: center;
    align-items: center;
}